* {
    box-sizing: border-box;
}

#app-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#restart-button {
    width: 6em;
    height: 1.6em;
}

#player {
    border-style: solid;
}

