/*
 * Filename: index.css
 * Author:   simshadows <contact@simshadows.com>
 * License:  GNU Affero General Public License v3 (AGPL-3.0)
 */

* {
    box-sizing: border-box;
}

html, body {
    min-width: fit-content;
    min-width: -moz-fit-content;
    min-height: fit-content;
    min-height: -moz-fit-content;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 0.4em;
}

#arrow {
    font-size: 3em;
}

.io {
    height: 5em;
    width: 50em;
}

