---
import Layout from "@layouts/BaseLayout.astro";
---

<Layout
    title="foobar"
    description="A collection of various small web apps."
    keywords={["simshadows", "ffxiv", "monster hunter"]}
>
    <p>
        <h3>Apps</h3>

        <a href="../3d-lsystems-explorer/"><b>3D L-Systems Explorer</b></a>
        <br>

        <a href="./ffxiv-mini-cactpot-solver/"><b>FFXIV Mini Cactpot Solver</b></a>
        <br>

        <a href="https://monsterhunter.simshadows.com/mhrb/"><b>Monster Hunter Rise Builder (Stable Version)</b></a>
        (&rarr; <i>monsterhunter.simshadows.com</i>)
        <br>

        <a href="https://monsterhunter-dev.simshadows.com/mhrb/"><b>Monster Hunter Rise Builder (Development Version)</b></a>
        (&rarr; <i>monsterhunter-dev.simshadows.com</i>)
        <br>

        <a href="./decoder-encoder/"><b>String Decoder/Encoder</b></a><br>
    </p>
    <p>
        <h3>Learning and Experimental Apps</h3>
        <a href="./bigint-calculator/"><b>Big Integer Calculator</b></a><br>
        <a href="./images-to-video/"><b>Images-to-Video with WebAssembly</b></a><br>
        <a href="./learning-and-experimental/2021-12-13_top-foundation_calculator/"><b>The Odin Project: Calculator</b></a><br>
        <a href="./learning-and-experimental/2021-12-21_todo-app_vanilla-js/"><b>The Odin Project: TODO App</b></a><br>
        <a href="./learning-and-experimental/2022-03-14_top-tictactoe/"><b>The Odin Project: Tic-Tac-Toe</b></a><br>
        <a href="./learning-and-experimental/2022-09-01_web-audio-experiment/"><b>Web Audio API Experiment</b></a><br>
    </p>
</Layout>

