/*
 * Filename: index.css
 * Author:   simshadows <contact@simshadows.com>
 * License:  GNU Affero General Public License v3 (AGPL-3.0)
 */

* {
    box-sizing: border-box;
}

/* Makes single lines of text clip gracefully to prevent breaking the layout */
/* Intended for both div and p */
.clipsafe {
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
div.button {
    background: #fff;
    padding: 0.2em 0.6em 0.2em 0.6em;

    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}
div.button:hover {
    background: #aaa;
}
div.button:active {
    background: #aaf;
}

#app {
    display: flex;
    flex-direction: column;

    margin: 1em auto 1em auto;
    padding: 0.5em;
    background: #666;
    width: 26em;
    height: 14em;

    font-family: monospace;
    font-size: 3em;
}
#app > div {
    width: 100%;
}

#play-area {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
#play-area.start > div {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.5em;

    margin: 0.5em;
}
#play-area.start > div > input,
#play-area.start > div > div.player-type {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.8em;
    width: 80%;
    padding: 0.4em;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}
#play-area.start > div > div.symbol {
    font-size: 2em;
}

#bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3em;
}
#bottom-bar > div.button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.8em;
}

#board {
    display: grid;
    gap: 0.3em;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;

    padding: 0 0.5em 0 0.5em;
}
#board > div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3em;
    width: 3em;
}
#board > div.marked-cell {
    background: #fff;
    cursor: default;
}
#board > div.unmarked-cell {
    color: #fff;
}
#board > div.winning-cell {
    background: #93c47d;
    cursor: default;
}
#board > div > span {
    font-size: 3em;
}

.side {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.5em;

    height: 100%;
    padding: 0.4em;
    cursor: default;
    text-align: center;
}
.side > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 4em;
    background: #aaa;
    width: 100%;
}
.side > span {
    height: 1.5em;
    font-weight: bold;
}
.side > div > span.name {
    font-size: 0.6em;
    font-weight: bold;
}
.side > div > span.symbol {
    font-size: 2em;
}
.side.is-turn     > span { color:      #9fc5e8; }
.side.is-turn     > div  { background: #9fc5e8; }
.side.is-thinking > span { color:      #9fc5e8; }
.side.is-thinking > div  { background: #9fc5e8; }
.side.is-winner   > span { color:      #93c47d; }
.side.is-winner   > div  { background: #93c47d; }
.side.is-loser    > span { color:      #e06666; }
.side.is-loser    > div  { background: #e06666; }
.side.is-draw     > span { color:      #ffd966; }
.side.is-draw     > div  { background: #ffd966; }

