/*
 * Filename: index.css
 * Author:   simshadows <contact@simshadows.com>
 * License:  Creative Commons Zero v1.0 Universal (CC0-1.0)
 */

* {
    box-sizing: border-box;
}
body {
    padding: 0.5em;
}

#bootstrap-box {
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    margin-bottom: 1.5em;
}
#start-button {
    width: 8em;
}

#live-player {
    display: flex;
    flex-direction: column;
}
#live-player input[type="range"] {
    width: 30em;
}
#live-player canvas {
    background-color: black;
    height: 15em;
    width: 30em;
}

